.navbar-modificada {
    background-color: black;
    color: antiquewhite;
  }

/*Modificaciones a formulario*/
.form-modificado {
    background-color: black;
    color: antiquewhite;
    padding: 35px 15px 35px 15px;
  }
  